.App {
  text-align: center;
}

.App-header {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.BGCanvas {
  background-color: #161616;
  color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: max-content; */
}

.Heading {
  color: #bb86fc;
  /* margin-top: -35%; */
}

.Subheading {
  color: #61dafb;
  padding-bottom: 10%;
}

/* gridStyle {
  background-color: #171f24;
  color: #61dafb;
} */

.gridContainer {
  padding-left: 4%;
  padding-right: 4%;
}

.nav {
  color: #bb86fc;
}

.Stepbu {
  color: #61dafb;
  @apply relative flex flex-col justify-center items-center w-36
}